# General
*.DS_Store
*.o
*~

# Latex
*.aux
*.log
*.synctex.gz
*.toc
*.snm
*.nav
*.vrb
Documentation/*/*.out

# Xcode project files
G4STORK/Build-xcode
G4STORK/Build-xcode-serial
*.sublime-workspace
**/*-xcode

# Geant / G4STORK build files
G4STORK/Build/*
G4STORK/include/Marshaled*
G4STORK/include/*.msh
G4STORK/OutputFiles
G4STORK/SourceFiles

geant4.10.02/source/processes/**/CUDAGPU.hh

# Executables
*/**/AnalyzeTestResults
*/**/GenerateTestResults

Examples/**/bin/

geant4.10.02/tmp
geant4.10.02-build
geant4.10.02-install

marshalgen-1.0/Examples
marshalgen-1.0/Phase2/*.yy.*
marshalgen-1.0/Phase2/*.tab.*
marshalgen-1.0/Phase2/marshal
marshalgen-1.0/Phase2/*.output

topc-2.5.2/*.status
topc-2.5.2/Makefile
topc-2.5.2/README
topc-2.5.2/bin/Makefile
topc-2.5.2/bin/topc-config
topc-2.5.2/bin/topc++
topc-2.5.2/bin/topcc
topc-2.5.2/include/*
topc-2.5.2/lib/*
topc-2.5.2/src/Makefile

Traces/
